.container {
    background-color: #fafafa;
	margin: 0 auto;
	border: 3px solid black;
	border-radius: 12px;
    width: 500px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
   
}
.profileContainer {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.profileAvatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: darkgray;
    border: 3px solid black;
}

.username {
    font-weight: 600;
    font-size: 38px;
    line-height: 0.5;
}

.text {
    color: gray;
}

.statsList {
    display: flex;
    background-color: lightgray;
   
    border-top: 1px solid darkgray;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

}

.statsItem {
    display: flex;
    flex-direction: column;
    border: 0px solid darkgray;
    width: 100%;
    padding: 10px 8px;
}
.statsItem:nth-child(2) {
    border-right: 1px solid darkgray;
    border-left: 1px solid darkgray;
}
.statsTitle {
    color: black;
   
}

.statsValue {
    color: black;
    font-weight: 700;
}