.containerTable {
  overflow: scroll;
}

.table {
    width: 500px;
    border-collapse: collapse;
  }
  
  .thead > tr > th {
    color: white;
    background-color: #2a2a2a;
    border: 1px solid black;
    padding: 8px;
  }
  
  .trgray:nth-child(2n) {
    background-color: #d3d3d3;
  }
  
  .td {
    width: 220px;
    padding: 8px;
    padding-left: 60px;
    text-align: start;
    text-transform: capitalize;
    border: 1px solid black;
    border-collapse: collapse;
  }

  .td:nth-child(1n+2) {
    text-align: center;
    padding-left: 8px;
  }

